# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
.venv/

# VS Code
.vscode/

# Power BI temporary/backup files
*.pbit
~$*

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Python logs
*.log
